# CODEOWNERS
#
# documentation for this file can be found at:
# https://help.github.com/en/articles/about-code-owners

# These are the default owners for the code and will
# be requested for review when someone opens a pull request.
# Order is alphabetical for easier maintenance.
#
# All Terraform Engineers in Dell (dell/TerraformDell)

# for all files:
* @MangirishK @sapana05 @Krunal-Thakkar @taohe1012 @baoy1 @vangork @RayLiu7 @P-Cao @Sakshi-dell @shenda1 @Krishnan-Priyanshu @dell/
IaCDevelopers