terraform-provider-redfish
.terraform/
*.backup
example.tf
terraform.tfplan
terraform.tfstate
crash.log
.vscode
bin/
dist/
vendor/
.idea/
*.terraform.lock.hcl
*.exe
*.EXE
*.zip
website/.vagrant
website/.bundle
website/build
website/node_modules
website/vendor
.vscode/
*.log
*.bak
*~
.*.swp
.*.swm
.*.swn
.*.swo

# Go workspace
go.work
